<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    #app {
      width: 500px;
      height: 500px;
      border: 1px solid black;
      margin: 100px auto;
      position: relative;
    }

    .head {
      width: 10px;
      height: 10px;
      background-color: coral;
      position: absolute;
      z-index: 9999;
    }

    .body {
      width: 10px;
      height: 10px;
      background-color: coral;
      position: absolute;
      z-index: 9999;
    }

    .alert {
      width: 500px;
      height: 500px;
      background-color: cadetblue;
      opacity: 0.3;
      color: crimson;
      font-size: 30px;
      text-align: center;
    }

    .alert .retry {
      width: 250px;
      height: 100px;
      border-radius: 20px;
    }

    .apple {
      width: 10px;
      height: 10px;
      background-color: chartreuse;
      position: absolute;
    }
  </style>
  <div id="app">
    <div class="head" :style="{top:position[0][0]+'px',left:position[0][1]+'px'}"></div>
    <div class="body" v-for="pos in position" :style="{top:pos[0]+'px',left:pos[1]+'px'}"></div>
    <div class="apple" :style="{top:appletop+'px',left:appleleft+'px'}"></div>
    <div class="alert" v-if="alert">Game Over!
      <button class="retry" @click="retry">再来一次</button>
    </div>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        keydown: true,
        keyright: true,
        keyleft: true,
        keyup: true,
        timerDown: '',
        timerRight: '',
        timerLeft: '',
        timerUp: '',
        key: true,
        appletop: 10,
        appleleft: 50,
        position: [
          [10, 30]
        ]
      },
      computed: {
        alert: function () {
          if (this.position[0][0] == 0 || this.position[0][1] == 0 || this.position[0][0] == 490 || this.position[0][1] == 490
          || this.position.indexOf(this.position[0], 1) >= 1) {
            console.log('gameover')
            // clearInterval(this.timerDown)
            // clearInterval(this.timerLeft)
            // clearInterval(this.timerUp)
            // clearInterval(this.timerRight)
            // this.key = false
            // return true
          }
        }
      },
      methods: {
        moveDown: function () {
          if (this.keydown) {//加个锁
            this.keydown = false;
            this.keyleft = true;
            this.keyright = true;
            this.keyup = true;
            clearInterval(this.timerRight);
            clearInterval(this.timerLeft);
            clearInterval(this.timerUp);
            follow()
            this.position[0][0] += 10;
            this.position[0].splice(2)//让vue检测到变化
            this.timerDown = setInterval(function () {
              temptop = app.position[0][0];
              templeft = app.position[0][1];
              follow()
              app.position[0][0] += 10;
              app.position[0].splice(2)
              eatApple()
              console.log(app.position.indexOf(app.position[0], 1))
            }, 500)
          }
        },
        moveRight: function () {
          if (this.keyright) {
            this.keyright = false;
            this.keyleft = true;
            this.keydown = true;
            this.keyup = true;
            clearInterval(this.timerDown);
            clearInterval(this.timerLeft);
            clearInterval(this.timerUp);
            follow()
            this.position[0][1] += 10;
            this.position[0].splice(2)//让vue检测到变化
            this.timerRight = setInterval(function () {
              temptop = app.position[0][0];
              templeft = app.position[0][1];
              follow()
              app.position[0][1] += 10;
              app.position[0].splice(2)
              eatApple()
              console.log(app.position.indexOf(app.position[0], 1))
            }, 500)
          }
        },
        moveLeft: function () {
          if (this.keyleft) {
            this.keyleft = false;
            this.keydown = true;
            this.keyright = true;
            this.keyup = true;
            clearInterval(this.timerDown);
            clearInterval(this.timerRight);
            clearInterval(this.timerUp);
            follow()
            this.position[0][1] -= 10;
            this.position[0].splice(2)//让vue检测到变化
            this.timerLeft = setInterval(function () {
              temptop = app.position[0][0];
              templeft = app.position[0][1];
              follow()
              app.position[0][1] -= 10;
              app.position[0].splice(2)
              eatApple()
              console.log(app.position.indexOf(app.position[0], 1))
            }, 500)
          }
        },
        moveUp: function () {
          if (this.keyup) {
            this.keyup = false;
            this.keyleft = true;
            this.keyright = true;
            this.keydown = true;
            clearInterval(this.timerDown);
            clearInterval(this.timerRight);
            clearInterval(this.timerLeft);
            follow()
            this.position[0][0] -= 10;
            this.position[0].splice(2)//让vue检测到变化
            this.timerUp = setInterval(function () {
              temptop = app.position[0][0];
              templeft = app.position[0][1];
              follow();
              app.position[0][0] -= 10;
              app.position[0].splice(2)
              eatApple()
              console.log(app.position.indexOf(app.position[0], 1))
            }, 500)
          }
        },

        //重新开始
        retry: function () {
          this.position[0][0] = 200;
          this.position[0][1] = 200;
          this.keyup = true;
          this.keyleft = true;
          this.keyright = true;
          this.keydown = true;
          this.key = true
        }
      },
      //想要给元素绑定键盘事件，只有在元素有焦点时才会触发，所以将键盘事件绑定在全局
      created: function () {
        var _this = this;//将this传进下面的函数中
        document.onkeydown = function (e) {
          let key = window.event.keyCode;
          if (_this.key) {//加个锁
            if (key == 40) {
              _this.moveDown();
              return false;//阻止默认事件
            } else if (key == 38) {
              _this.moveUp();
              return false;
            } else if (key == 37) {
              _this.moveLeft();
              return false;
            } else if (key == 39) {
              _this.moveRight();
              return false;
            }
          }
        }
      }
    });


    function follow() {
      for (i = app.position.length; i > 1; i--) {
        app.position[i - 1][0] = app.position[i - 2][0]
        app.position[i - 1][1] = app.position[i - 2][1]
      }
    }
    function eatApple() {
      if (app.position[0][0] == app.appletop && app.position[0][1] == app.appleleft) {
        app.appleleft = Math.ceil(Math.random() * 10 * 5) * 10;
        app.appletop = Math.ceil(Math.random() * 10 * 5) * 10;
        app.position.push([temptop, templeft])
      }
    }
  </script>
</body>

</html>