<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    #app {
      width: 250px;
      height: 250px;
      border: 3px solid black;
      margin: 100px auto;
      background-color: #eeeeee;
      position: relative;
    }

    .head {
      width: 10px;
      height: 10px;
      background-color: coral;
      position: absolute;
    }

    .body {
      width: 10px;
      height: 10px;
      background-color: coral;
      position: absolute;
    }

    .alert {
      width: 250px;
      height: 250px;
      background-color: cadetblue;
      opacity: 0.5;
      color: crimson;
      font-size: 30px;
      text-align: center;
      overflow: hidden;
    }

    .alert .retry {
      width: 130px;
      height: 50px;
      border-radius: 10px;
      font-size: 20px;
      line-height: 50px;
      color: black;
      margin-top: 10px;
    }

    .alert .gameover {
      font-size: 40px;
      margin-top: 10px;
      z-index: 99;
    }

    .apple {
      width: 10px;
      height: 10px;
      background-color: chartreuse;
      position: absolute;
    }

    .score {
      position: absolute;
      top: -25px;
    }

    .level {
      position: absolute;
      top: -25px;
      right: 0;
    }
  </style>
  <div id="app">
    <div class="head" :style="{top:position[0][0]+'px',left:position[0][1]+'px'}"></div>
    <div class="body" v-for="pos in position" :style="{top:pos[0]+'px',left:pos[1]+'px'}"></div>
    <div class="apple" :style="{top:appletop+'px',left:appleleft+'px'}"></div>
    <div class="score">分数：{{score}}</div>
    <div class="level">难度：{{level}}</div>
    <div class="alert" v-if="alert">
      <p class="gameover">Game Over!</p>
      <p class="gameoverscore">Score:{{score}}</p>
      <button class="retry" @click="retry">再来一次</button>
    </div>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        score: 0,
        speed: 400,
        level: 1,
        keydown: true,
        keyright: true,
        keyleft: true,
        keyup: true,
        timerDown: '',
        timerRight: '',
        timerLeft: '',
        timerUp: '',
        key: true,
        appletop: 10,
        appleleft: 50,
        eatSelf: false,
        position: [
          [10, 30]
        ]
      },
      computed: {
        alert: function () {
          if (this.position[0][0] == -10 || this.position[0][1] == -10 || this.position[0][0] == 250 || this.position[0][1] == 250
            || this.eatSelf) {
            clearInterval(this.timerDown)
            clearInterval(this.timerLeft)
            clearInterval(this.timerUp)
            clearInterval(this.timerRight)
            this.key = false
            return true
          }
        }
      },
      methods: {
        moveDown: function () {
          if (this.keydown) {//加个锁
            this.keydown = false;
            this.keyleft = true;
            this.keyright = true;
            this.keyup = false;
            clearInterval(this.timerRight);
            clearInterval(this.timerLeft);
            clearInterval(this.timerUp);
            follow()
            this.position[0][0] += 10;
            eatSelf()
            eatApple()
            this.position[0].splice(2)//让vue检测到变化
            this.timerDown = setInterval(function () {
              temptop = app.position[0][0];
              templeft = app.position[0][1];
              follow()
              app.position[0][0] += 10;
              eatSelf()
              app.position[0].splice(2)
              eatApple()
            }, app.speed)
          }
        },
        moveRight: function () {
          if (this.keyright) {
            this.keyright = false;
            this.keyleft = false;
            this.keydown = true;
            this.keyup = true;
            clearInterval(this.timerDown);
            clearInterval(this.timerLeft);
            clearInterval(this.timerUp);
            follow()
            this.position[0][1] += 10;
            eatSelf()
            eatApple()
            this.position[0].splice(2)//让vue检测到变化
            this.timerRight = setInterval(function () {
              temptop = app.position[0][0];
              templeft = app.position[0][1];
              follow()
              app.position[0][1] += 10;
              eatSelf()
              app.position[0].splice(2)
              eatApple()
            }, app.speed)
          }
        },
        moveLeft: function () {
          if (this.keyleft) {
            this.keyleft = false;
            this.keydown = true;
            this.keyright = false;
            this.keyup = true;
            clearInterval(this.timerDown);
            clearInterval(this.timerRight);
            clearInterval(this.timerUp);
            follow()
            this.position[0][1] -= 10;
            eatSelf()
            eatApple()
            this.position[0].splice(2)//让vue检测到变化
            this.timerLeft = setInterval(function () {
              temptop = app.position[0][0];
              templeft = app.position[0][1];
              follow()
              app.position[0][1] -= 10;
              eatSelf()
              app.position[0].splice(2)
              eatApple()
            }, app.speed)
          }
        },
        moveUp: function () {
          if (this.keyup) {
            this.keyup = false;
            this.keyleft = true;
            this.keyright = true;
            this.keydown = false;
            clearInterval(this.timerDown);
            clearInterval(this.timerRight);
            clearInterval(this.timerLeft);
            follow()
            this.position[0][0] -= 10;
            eatSelf()
            eatApple()
            this.position[0].splice(2)//让vue检测到变化
            this.timerUp = setInterval(function () {
              temptop = app.position[0][0];
              templeft = app.position[0][1];
              follow();
              app.position[0][0] -= 10;
              eatSelf()
              app.position[0].splice(2)
              eatApple()
            }, app.speed)
          }
        },

        //重新开始
        retry: function () {
          this.position = [[200, 200]]
          this.keyup = true;
          this.keyleft = true;
          this.keyright = true;
          this.keydown = true;
          this.key = true;
          this.eatSelf = false;
          this.score = 0;
          this.level = 1;
        }
      },
      //想要给元素绑定键盘事件，只有在元素有焦点时才会触发，所以将键盘事件绑定在全局
      created: function () {
        var _this = this;//将this传进下面的函数中
        document.onkeydown = function (e) {
          let key = window.event.keyCode;
          if (_this.key) {//加个锁
            if (key == 40) {
              _this.moveDown();
              return false;//阻止默认事件
            } else if (key == 38) {
              _this.moveUp();
              return false;
            } else if (key == 37) {
              _this.moveLeft();
              return false;
            } else if (key == 39) {
              _this.moveRight();
              return false;
            }
          }
        }
      }
    });


    function follow() {
      for (i = app.position.length; i > 1; i--) {
        app.position[i - 1][0] = app.position[i - 2][0]
        app.position[i - 1][1] = app.position[i - 2][1]
      }
    }
    function eatApple() {
      if (app.position[0][0] == app.appletop && app.position[0][1] == app.appleleft) {
        app.score++
        switch (app.score) {
          case 5:
            app.speed = 300;
            app.level++;
            break;
          case 10:
            app.speed = 200;
            app.level++;
            break;
          case 15:
            app.speed = 150
            app.level++;
            break;
          case 20:
            app.speed = 100;
            app.level++;
            break;
          case 25:
            app.speed = 50;
            app.level++;
            break
        }
        app.appleleft = Math.ceil(Math.random() * 10 * 2.4) * 10;
        app.appletop = Math.ceil(Math.random() * 10 * 2.4) * 10;
        app.position.push([temptop, templeft])
      }
    }
    function eatSelf() {
      let arr = app.position.slice(1)
      arr.some(function (pos) {
        if (pos[0] == app.position[0][0] && pos[1] == app.position[0][1]) {
          app.eatSelf = true
        }
      })
    }
  </script>
</body>

</html>